<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
    <nav class>
        <a href="/" th:href="@{/}">Home</a>
        <a href="/MyPersonalInfo" th:href="@{/mypersonalinfo}">My Personal Information</a>
        <a href="/CourseCart" th:href="@{/coursecart}">Course Cart</a>
        <a href="/ClassSearchandEnroll" th:href="@{/classsearchandenroll}">Class search and enroll</a>
        <a href="/ViewMyClasses(Enrolled)" th:href="@{/viewmyclasses}">View my classes (Enrolled)</a>
  </nav>

<h2>Academic Records</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Term</th>
    <th>Grade</th>
    <th>Units</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>John Smith</td>
    <td>SE 400</td>
    <td>Winter 2020</td>
    <td>A</td>
    <td>4.0</td>
    <td>Taken</td>
  </tr>
  <tr>
    <td>Sean Wilson</td>
    <td>CSC 400</td>
    <td>Winter 2020</td>
    <td>A</td>
    <td>4.0</td>
    <td>Taken</td>
  </tr>
</table>

</body>
</html>




