<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Students</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        <form method="post" action="#" data-th-action="@{/coursecart/add}" data-th-object="${model}" th:object="${courses}" class="mt-5">
            <div class="form-group">
                <label>Select a course</label>
                <table id="CourseList" class="table">
                    <thead>
                        <tr>
                            <th scope="col"> Course Name</th>
                            <th scope="col"> Course Dept </th>
                            <th scope="col"> Course ID </th>
                            <th scope="col"> Start date </th>
                            <th scope="col"> End date </th>
                        </tr>
                    </thead>
                    <tr th:each="course : ${courses}">

                        <td span><input type=radio th:name="${courses}" th:text="${course.courseName}"/></td>
                        <td span th:text="${course.department}"></td>
                        <td span th:text="${course.courseID}"></td>
                        <td span th:text="${course.startDate}"></td>
                        <td span th:text="${course.endDate}"></td>
                        </tr>
                </table>  
            </div>
            <button type="submit" name="action" value="cart">Add to Course Cart</button>
            <button type="submit" name="action" value="wishlist">Add to Course Wishlist</button>
        </form>
        <a href ="/coursecart" button type="button" class="btn btn-link">View Course Cart</button>
        <a href ="/wishlist" button type="button" class="btn btn-link">View Course Wishlist</button>
    </div>
    
    </body>
</html>
