<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Students</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
        <nav class>
            <a href="/" th:href="@{/}">Home | </a>
            <a href="/coursecatalog" th:href="@{/coursecatalog}">Course Catalog | </a>
            <a href="/ViewMyClasses(Enrolled)" th:href="@{/manageclasses}">View Courses | </a>
            <a href="/academicrecords" th:href="@{/academicrecords}">Academic Records | </a>
            <a href="/personalinfo" th:href="@{/personalinfo}">Personal Information</a>
        
        </nav>
        <div class="container">
            <div class="form-group">

                <table id="CourseList" class="table">
                    <thead>
                        <tr>
                            <th scope="col"> Course Name</th>
                            <th scope="col"> Description </th>
                            <th scope="col"> Start date </th>
                            <th scope="col"> End date </th>
                        </tr>
                    </thead>
                    <tr th:each="cart : ${cartItems}">

                        <td span th:text="${cart.course}"></td>
                        <td span th:text="${cart.Description}"></td>
                        <td span th:text="${cart.startdate}"></td>
                        <td span th:text="${cart.enddate}"></td>
                        </tr> 
                </table>  
            </div>
        <a href ="/coursecart" th:href="@{/coursecart/empty}" button type="button" class="btn btn-link">Empty Course Cart</button> 
    </div>
    
    </body>
</html>