<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<body>
  <nav class>
      <a href="/" th:href="@{/}">Home</a>
      <a href="/MyPersonalInfo" th:href="@{/mypersonalinfo}">My Personal Information</a>
      <a href="/CourseCart" th:href="@{/coursecart}">Course Cart</a>
      <a href="/ClassSearchandEnroll" th:href="@{/classsearchandenroll}">Class search and enroll</a>
      <a href="/ViewMyClasses(Enrolled)" th:href="@{/viewmyclasses}">View my classes (Enrolled)</a>
</nav>

<h2>Drop Classes</h2>

<p>Step 1 of 2: Select Classes to Drop</p>

<form>
  <input type="radio" id="SE123" name="fav_language" value="HTML">
  <label for="html">SE123</label><br>
  <input type="radio" id="CSC123" name="fav_language" value="CSS">
  <label for="css">CSC123</label><br>
  <input type="radio" id="SE456" name="fav_language" value="JavaScript">
  <label for="javascript">SE456</label>

</form>

<p>  
  <a href="/dropclass2" th:href="@{/dropclass2}" class="btn btn-large btn-success">Drop Selected Classes</a>
</p>

</body>
</html>
