<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Drop Classes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
  integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
  <nav class>
    <a href="/" th:href="@{/}">Home | </a>
    <a href="/coursecart" th:href="@{/coursecart}">Course Cart | </a>
    <a href="/coursecatalog" th:href="@{/coursecatalog}">Course Catalog | </a>
    <a href="/ViewMyClasses(Enrolled)" th:href="@{/manageclasses}">Manage Courses | </a>
    <a href="/personalinfo" th:href="@{/personalinfo}">Personal Information</a>
</nav>

<h2>Drop Classes</h2>

<p>Step 1 of 2: Select Classes to Drop</p>

<form>
  <input type="radio" id="SE123" name="fav_language" value="HTML">
  <label for="html">SE123</label><br>
  <input type="radio" id="CSC123" name="fav_language" value="CSS">
  <label for="css">CSC123</label><br>
  <input type="radio" id="SE456" name="fav_language" value="JavaScript">
  <label for="javascript">SE456</label>

</form>

<p>  
  <a href="/dropclass2" th:href="@{/dropclass2}" class="btn btn-large btn-success">Drop Selected Classes</a>
</p>

</body>
</html>
