<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>My Personal Info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <nav class>
      <a href="/" th:href="@{/}">Home | </a>
      <a href="/CourseCart" th:href="@{/coursecart}">Course Cart | </a>
      <a href="/coursecatalog" th:href="@{/coursecatalog}">Course Catalog | </a>
      <a href="/manageclasses" th:href="@{/manageclasses}">Manage Classes </a>
  
  </nav>
  <div class="container">
    <form method="post" th:object="${pinfoItems}" class="mt-5">
        <div class="form-group">

          <table d="PersonalInformation" class="table">
            <thead>
              <tr>
                <th scope="col"> Name</th>
                <th scope="col"> Date of Birth </th>
                <th scope="col"> Gender </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th scope="col"> State </th>
                <th scope="col"> Zipcode </th>
            </tr>
            </thead>
            <tr th:each="pinfo : ${pinfoItems}">
              <td span th:text="${pinfo.name}"></td>
              <td span th:text="${pinfo.dob}"></td>
              <td span th:text="${pinfo.gender}"></td>
              <td span th:text="${pinfo.address}"></td>
              <td span th:text="${pinfo.city}"></td>
              <td span th:text="${pinfo.state}"></td>
              <td span th:text="${pinfo.zip_code}"></td>
              </tr>
          </table> 
        </div>
    </form>


</body>
</html>




