<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
    <nav class>
        <a href="/" th:href="@{/}">Home</a>
        <a href="/CourseCart" th:href="@{/coursecart}">Course Cart</a>
        <a href="/ClassSearchandEnroll" th:href="@{/classsearchandenroll}">Class search and enroll</a>
        <a href="/ViewMyClasses(Enrolled)" th:href="@{/viewmyclasses}">View my classes (Enrolled)</a>
    
        <a href="#Instructor">Instructor</a>


  </nav>

<h2>My Personal Information:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
  </tr>
  <tr>
    <td>Laura Johnson</td>
    <td>05/20/2002</td>
    <td>Female</td>
    <td>123 nowhere</td>
    <td>Chicago</td>
    <td>Illinois</td>
    <td>60604</td>
  </tr>
  <tr>
    <td>Carl Brooks</td>
    <td>07/08/2001</td>
    <td>Male</td>
    <td>67 street</td>
    <td>Chicago</td>
    <td>Illinois</td>
    <td>60645</td>
  </tr>
  <tr>
    <td>Cara Smith</td>
    <td>11/23/2002</td>
    <td>Female</td>
    <td>25 ave</td>
    <td>Chicago</td>
    <td>Illinois</td>
    <td>60765</td>
  </tr>
</table>

</body>
</html>




