<!DOCTYPE html>
    <head>
        <title>Student Homepage</title>
        <style>
          html,body{ height:100%; width:100%; margin:0;}
            body  { display:flex;}
            form  { margin: auto; 
                    border-spacing: 10px;}
            .btn-group button {
                    padding: 10px 24px; 
                    width: 50%;
                  }
        </style>
        
    </head>
    <body>
        <form>
          <h1> <center>Student Portal Homepage </h1>
          <div class="btn-group"> <center>
            <a href="/academicrecords"> <button type="button">Academic Records</button></a>
            <a href="/manageclasses"><button type="button">Manage Classes</button></a>
            <a href ="/personalinfo"><button type="button">My Personal Information</button></a>
          </div>
        </form>  
    </body>
</html>